.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.Header {
  flex-grow: 0.001;
  background-color: black;
  width:100%;

}

.Body {
  background-color:#05092f;
  flex-grow: 10;
}

.ErrMsg {
  padding-top: 3%;
  padding-left: 42%;
  padding-bottom: 70%;
  color: red;
}